{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
	<h1>Проходная</h1>
	<div class="module">
		{% if form.errors %}
			<p>Неправильное имя пользователя или пароль.</p>
		{% else %}
			<p>Вот тута надо данные указать:</p>
		{% endif %}
	<div class="login-form">
		<form action="{% url 'login' %}" method="post">
			{{ form.as_p }}
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ next }}" />
			<p><input type="submit" value="Войти"></p>
		</form>
	</div>
	</div>
{% endblock %}